<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('segments/header.ejs') %>
    <!-- <script type="text/javascript" src="scripts/browserify-scripts/getLoginInput.js"></script> -->

</head>

<body>

   

<!-- Top Nav Bar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="#"><img class="nav-logo" src="./img/pokeball-logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/pokedex">Pokedex</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/game/battle">Battle</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/user/login">Login</a>
              </li>
          </ul>
      </div>
  </div>
  </nav>

<!-- Log In Form-->
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user"></i> Log In
        </h1>

        <%- include('segments/message.ejs'); %>

        <form action="/user/login" method="POST">

          <div class="form-group">
            <label for="name">Username</label>
            <input
              type="name"
              id="username"
              name="username"
              class="form-control"
              placeholder="Username"
              value="<%= typeof username != 'undefined' ? username : '' %>"
            />
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>

          <button type="submit" class="btn btn-primary btn-block">
            Login
          </button>
        </form>
        <p class="lead mt-4">Need to create an account? <a href="/user/register">Register</a></p>
      </div>
    </div>
  </div>


<!-- Footer -->
<%- include('segments/footer.ejs') %>

</body>